@charset "UTF-8";

@font-face {
  font-family: 'Locator';
  src: local('Locator'), url('../fonts/Locator.otf') format('truetype');
}
@font-face {
  font-family: 'Locator-medium';
  src: local('Locator-medium'),
    url('../fonts/Locator-medium.otf') format('truetype');
}

$regular: 'Montserrat', sans-serif;
$button: black;
$buttonHover: #f75172; 
$pink-dark:white;
$light: #f7f7f7;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-steampod.es-steampod {
  font-family: $regular;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #000;
  }
  .es-kv {
    background-color: $light;
    width: 100%;
    overflow: visible;
    &__wrapper {
      width: 100%;
      position: relative;
    }
    &__content {
      text-align: left;
      padding: 40px;
    }
    &__images{
      @include img;
      margin: 0 0;
      padding: 15px 0;
    }
    &__packshot{
      position: absolute;
      right: 0;
      bottom: -100px;
      overflow: visible;
    }
    &__title{
      @include text;
      padding: 20px 0 0 0;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 700;
    }
  }
  .es-title{
    margin: 20px auto;
    &__text{
      @include text;
      text-align: center;
      padding: 20px;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 700;
    }
    &__subtext {
      @include text;
      
    }
  }
  .es-icons{
    text-align: center;
    margin: 0 auto;
    &__wrapper{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px 20px;
    }
    &__single {
      background-color: $light;
      padding: 25px;
      width: 290px;
      height: 290px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

    }
    &__image {
      @include img;
      max-width: 90px;
      margin: 20px auto;
    }
    &__title{
      @include text;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
    }
    &__text{
      @include text;
      
      font-size: 16px;
      font-weight: 400;
    }
  }
  .es-steam {
    background-color: #000;
    margin: 40px auto;
    width: 100%;
    &__wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &__subtitle {
      @include text;
      padding: 20px;
      color: #fff;
      text-align: left;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 700;
    }
    &__title {
      @include text;
      padding: 20px;
      color: #fff;
      text-align: left;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 700;
    }
    &__text {
      @include text;
      padding: 20px;
      color: #fff;
      text-align: left;
      font-size: 20px;
    }
    &__image {
      @include img;
      padding: 0 20px;
    }
  }
}
@media screen and (min-width: 924px) {
  .es-steam {
    &__wrapper {
      flex-wrap: nowrap !important;
    }
    &__left {
      width: 50%;
    }
    &__right {
      width: 50%;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

}

@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}