@charset "UTF-8";

@font-face {
  font-family: 'Locator';
  src: local('Locator'), url('../fonts/Locator.otf') format('truetype');
}
@font-face {
  font-family: 'Locator-medium';
  src: local('Locator-medium'),
    url('../fonts/Locator-medium.otf') format('truetype');
}

$regular: 'Montserrat', sans-serif;
$button: black;
$buttonHover: #f75172; 
$pink-dark:white;
$light: #f7f7f7;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-steampod.es-steampod {
  font-family: $regular;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #000;
  }
  .es-kv {
    background-color: $light;
    width: 100%;
    overflow: visible;
    &__wrapper {
      width: 100%;
      position: relative;
    }
    &__content {
      text-align: left;
      padding: 40px;
    }
    &__images{
      @include img;
      margin: 0 0;
      padding: 15px 0;
    }
    &__packshot{
      position: absolute;
      right: 0;
      bottom: -100px;
      overflow: visible;
    }
    &__title{
      @include text;
      padding: 20px 0 0 0;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 700;
    }
  }
  .es-title{
    margin: 20px auto;
    &__text{
      @include text;
      text-align: center;
      padding: 20px;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 700;
    }
    &__subtext {
      @include text;
      margin: 0 auto;
      width: 70%;
      text-align: center;
      font-size: 18px;
      font-family: 200;
    }
    &__image {
      @include img;
      max-width: 45px;
      padding-bottom: 10px;
    }
  }
  .es-icons{
    text-align: center;
    margin: 0 auto;
    &__wrapper{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px 20px;
    }
    &__single {
      background-color: $light;
      padding: 25px;
      width: 290px;
      height: 290px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

    }
    &__image {
      @include img;
      max-width: 90px;
      margin: 20px auto;
    }
    &__title{
      @include text;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
    }
    &__text{
      @include text;
      
      font-size: 16px;
      font-weight: 400;
    }
  }
  .es-steam {
    background-color: #000;
    margin: 40px auto;
    width: 100%;
    &__wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &__subtitle {
      @include text;
      padding: 20px;
      color: #fff;
      text-align: left;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 700;
    }
    &__title {
      @include text;
      padding: 20px;
      color: #fff;
      text-align: left;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 700;
    }
    &__text {
      @include text;
      padding: 20px;
      color: #fff;
      text-align: left;
      font-size: 20px;
    }
    &__image {
      @include img;
      padding: 0 20px;
    }
  }
  .es-ba {
    margin: 40px auto 10px;
    &__wrapper {
      background-color: #e9e9e9;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 5px 0;
    }
    &__single {
      position: relative;
      width: 310px;
    }
    &__desc {
      width: 100%;
      position: absolute;
      top: 0;
      text-align: center;
    }
    &__text {
      @include text;
      margin: 0 auto;
      padding: 12px 8px;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 700;
      width: 150px;
      background-color: #000;
      color: #fff;
    }
    &__image {
      @include img;
    }
  }
  .es-video {
    margin: 40px auto;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    & iframe {
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .es-cross {
    padding: 1px;
    position: relative;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__product {
      padding: 12px 5px;
      width: 330px;
      margin: 0 auto;
      margin-bottom: 32px;
      display: flex;
      flex-flow: column;
      align-items: center;
      &:hover .es-cross__link::before {
        transform: scaleX(1);
      }
      &:hover .es-cross__packshot {
        transform: translateY(-8px);
      }
    }
    &__packshot {
      transition: transform 0.6s;
      margin-bottom: 24px;
    }
    &__text {
      @include text;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
    }
    &__desc {
      @include text;
      padding: 10px 0 5px 0;
      font-size: 18px;
      font-weight: 200;
      text-transform: lowercase
    }
    &__link {
      margin: 10px auto;
      padding: 0;
      display: inline-block;
      padding: 12px 25px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      background: linear-gradient(to right, $buttonHover 50%, $button 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease-out;
      &:hover {
        background-position: left bottom;
      }
    }
    &__img {
      @include img;
      transition: all 0.3s ease-in-out;
    }
  }
  .es-footer {
    padding-bottom: 20px;
    &__text {
      @include text;
      text-align: center;
      font-size: 12px;
    }
  }
}
@media screen and (min-width: 924px) {
  .es-steam {
    &__wrapper {
      flex-wrap: nowrap !important;
    }
    &__left {
      width: 50%;
    }
    &__right {
      width: 50%;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

}

@keyframes slideright {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}